.top_section {
  display: flex;
  min-width: 950px;
  flex-direction: column;
  margin-bottom: 20px;
}
.top_main {
  display: flex;
  
}
.sidebar {
  flex-direction: column;
  border-right: 2px solid #000000;
  width: 350px;
  align-items: flex-start;
  display: flex;
}
.form {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 20px;
  display: flex;
  flex-grow: 1;
  margin: 20px 0;
}
.input {
  font-size: 1.2em;
  border: none;
  background-color: transparent;
  outline: none;
  flex: 1;
}
.search {
  display: flex;
  gap: 50px;
  align-items: center;
}



.item {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
}
.list {
  margin-left: 15px;
  border-radius: 15px;
  
}

.list a:hover {
  color: black;
}
.list:hover {
  background-color: rgb(211, 208, 208);
}
.list:active {
  background-color:  rgb(175, 175, 175);
}
nav a {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}
.block_card {
  flex: 1;
  position: relative;
  
}
